# Build directories
build-*/
build/external/
build_*

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
*.cmake

# VSCode files
.vscode/
*.code-workspace

# Backup files
*.bak
*.backup

# Other
.continue/
pybind11.git/
